
body{
    font-family: 'Times New Roman', sans-serif;
    background-color: #000000;
    color:#ffffff;
}

h1{
    font-size: 64px;
    text-align: center;
    padding: 10px;
}

h2{
    font-size: 32px;
    text-shadow:4px 4px 2px #808080;
}

p{
    font-size: 24px;
}

#intro p{
    padding: 15px;
}

img{
    margin: auto;
    display: block;
    justify-content: center;
    width: 550px;   
}

div{
    min-height: 150px;
    height: auto;
    padding: 25px 25px 25px 25px;

}

#red{
    background-color: #ff0000;
    text-align:right;
}

#blue{
    background-color: #0000ff;
    text-align: left;
}

#yellow{
    background-color: #ffff00;
    text-align: right;
}

#yellow p{
    color:black;
}
#yellow h2{
    text-shadow:4px 4px 2px #c7e2c7;
    color:black;
}

#green{
    background-color: #008000;
    text-align: left;
}

footer p{
    text-align: center;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
}